{% extends 'base.html' %}

{% block content %}
<div class="post-detail-container">
    <header class="post-detail-header">
        <h1>{{ post.title }}</h1>
        <div class="post-meta">
            <p>{{ post.author.username }}</p>
            <p>{{ post.created_at|date:"Y-m-d H:i" }}</p>
        </div>
        <div class="post-actions">
            {% if post.author == request.user %}
                <a href="{% url 'postapp:post_update' post_id=post.id %}" class="btn">수정하기</a>
                <form action="{% url 'postapp:post_delete' post_id=post.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn">삭제하기</button>
                </form>
            {% endif %}
            <a href="{% url 'postapp:post_list' %}" class="btn">뒤로 가기</a>
        </div>
    </header>
    <div class="post-content">
        <p>{{ post.text }}</p>
        {% for photo in post.photos.all %}
            <img src="{{ photo.image.url }}" alt="Photo" class="post-photo">
        {% endfor %}
    </div>
</div>
{% endblock %}
