{% extends 'base.html' %}
{% load static %}

{% block title %}회원가입{% endblock %}

{% block content %}
<div class="signup-container">
    <h1>SWU_BLOG</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="signup-button">가입하기</button>
    </form>
</div>

<style>
    .signup-container h1 {
        margin-bottom: 20px;
    }

    .signup-container form {
        width: 100%;
        max-width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .signup-container form button {
        margin-top: 20px;
    }
</style>

{% endblock %}
